<div style="display: flex; flex-direction:column">
  <form [formGroup]="formType" (ngSubmit)="onSubmit()">
    <div style="display:inline">
      <button mat-icon-button matTooltip="Cancelar" style="position:relative; float:left; margin-right: 2%"
      (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
      <h1 mat-dialog-title style="position:relative; float:left;">{{ title }} Tipo</h1>
    </div>
    <div mat-dialog-content>
      <button mat-icon-button type="submit" matTooltip="Confirmar" style="position:relative; float:right">
        <mat-icon>done</mat-icon>
      </button>
    </div>
    <mat-divider style="margin-top:15%"></mat-divider>
    <mat-form-field style="width:100%; margin-top:4%;">
      <input matInput formControlName="name" placeholder="Nome">
    </mat-form-field>
    <mat-form-field style="width:100%">
      <textarea matInput formControlName="description" placeholder="Descrição"></textarea>
    </mat-form-field>
  </form>
</div>