<footer style="clear: both;margin-left: 25%;position: fixed;bottom: 0 ;width: 60%">
    <div style="border-top:1px solid deepskyblue;position:absolute; width: 100%;"></div>
    <div style="display: flex; flex-direction: row; ">
        <p style="border-top:3px solid darkblue; width: 140px; font-size: 9pt; margin-top: -1px; z-index: 2;" class='footer'>&copy; FORLOGIC2019</p>
        <p style="border-top:3px solid deepskyblue; width: 140px; font-size: 9pt; margin-top: -1px; z-index: 2;"> PLANNER</p>
    </div> 
</footer>