<mat-card class="card-list">
  <mat-card-header style="margin: 0 auto">
    <mat-card-title style="padding: 15% 15% 0% 25% ;font-size: 20pt;">Planos</mat-card-title>
    <mat-card-actions>
      <mat-divider style="margin-top:9%"></mat-divider>
      <app-plans-add-button></app-plans-add-button>
    </mat-card-actions>
  </mat-card-header>
  <mat-card-content style="margin-top: 6%">
    <div cdkDropList [cdkDropListData]="plans" (cdkDropListDropped)="plansDragAndDrop.drop($event)" class="list">
      <div *ngFor="let p of plans" cdkDrag class="box">
        <app-plans [plan]=p></app-plans>
      </div>
    </div>
  </mat-card-content>
</mat-card>