.button-filter{
    position: absolute;
    float: right; 
    right:2%;
    margin-top:11% !important;
}

#filter-list{
    width: 90%;
    position: absolute;
    float: right;
    right:6%;
    margin-top:11% !important; 
}