<mat-nav-list>
  <mat-tab-group>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-tab label="GERAL">
        <mat-form-field>
          <input matInput placeholder="Nome(O que?)">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tipo do plano</mat-label>
          <mat-select>
            <mat-option value="">option</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <!-- auto complete com filtered options -->
        </mat-form-field>
      </mat-tab>
      <mat-tab label="DETALHES">

      </mat-tab>
    </form>
  </mat-tab-group>
</mat-nav-list>