<div style="display: grid; margin-top: -5%;">
  <form [formGroup]="formType" (ngSubmit)="onSubmit()">
    <div mat-dialog-actions style="display: grid; grid-template-columns: 5% auto 5%;grid-gap:10px">
      <button mat-icon-button type="button" matTooltip="Cancelar" (click)="close()" style="justify-self: start">
        <mat-icon>close</mat-icon>
      </button>
      <h1 mat-dialog-title style="margin: 5%; justify-self: start">{{ title }} Tipo</h1>
      <button mat-icon-button type="submit" matTooltip="Confirmar" style="justify-self: end">
        <mat-icon>done</mat-icon>
      </button>
    </div>
    <mat-divider style="margin: 5% -2% 5% -2%"></mat-divider>
    <div>
      <mat-form-field style="width: 100%">
        <input matInput formControlName="name" placeholder="Nome"  [errorStateMatcher]="matcher">
        <mat-error *ngIf="!formType.get('name').valid">
            Nome do tipo é <strong>obrigatório</strong>.
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>