<!-- <div cdkDropList (cdkDropListDropped)="drop($event)"> -->
<!-- <div cdkDrag> -->
<div style="width:100%;display: flex; justify-content: space-between" >
    <div class="left"style="display:flex;flex-direction:column;">
        <h3>{{plan.name}}</h3>
        <p>{{ plan.status }}</p>
        <p>De {{ plan.start }} até {{ plan.end }}</p>
      </div>
      <div class="right" style="display:flex;float: right;position:relative; margin-top:5%">
        <div>
          <p>Usuário Qualiex</p>
        <p>email@email.com</p>
        </div>
        <img src="https://res.cloudinary.com/dereqydhf/image/upload/v1552890854/ir9vafcarj78jg3gyohm.jpg" />
          <mat-icon>more_vert</mat-icon>
      </div>
</div>
<!--  </div> -->
<!--  </div> -->