<div style="width:100%;display: flex; justify-content: space-between">
  <div class="left" style="display:flex;flex-direction:column;">
    <h3>{{plan.name}}</h3>
    <p>{{ plan.status }}</p>
    <p>De {{ plan.start }} até {{ plan.end }}</p>
  </div>
  <div class="right" style="display:flex;float: right;position:relative; margin-top:2%;">
    <div style="margin-top:3%">
      <p>Usuário Qualiex</p>
      <p>email@email.com</p>
    </div>
    <img class="img-avatar"src="https://res.cloudinary.com/dereqydhf/image/upload/v1552890854/ir9vafcarj78jg3gyohm.jpg" />
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item><mat-icon>edit</mat-icon>Editar</button>
        <button mat-menu-item [matMenuTriggerFor]="status">Mudar status</button>
        <button mat-menu-item><mat-icon>delete</mat-icon>Remover</button>
      </mat-menu>
      <mat-menu #status="matMenu">
        <button mat-menu-item><mat-icon>play_arrow</mat-icon>Iniciar</button>
        <button mat-menu-item><mat-icon>done</mat-icon>Concluir</button>
        <button mat-menu-item><mat-icon>pause</mat-icon>Suspender</button>
        <button mat-menu-item><mat-icon>cancel</mat-icon>Cancelar</button>
      </mat-menu>
  </div>
</div>
