<mat-list-item>
  <h4 mat-line>{{type.name}}</h4>
  <button mat-icon-button matTooltip="" [matMenuTriggerFor]="menuType">
      <mat-icon mat-list-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuType="matMenu">
      <button mat-menu-item (click)="openEdit()" >
        <mat-icon >edit</mat-icon>Editar
      </button> 
      <button mat-menu-item (click)="openDelete()">
        <mat-icon>delete</mat-icon>Remover
      </button>
    </mat-menu>
</mat-list-item>
<mat-divider></mat-divider>
